n8n_workflows/360_performance_loop_v3.json
{
  "name": "360 Performance Loop",
  "nodes": [
    {
      "parameters": {
        "content": "## ENTRY POINT\nReceives POST when student completes test.\n\n**Payload:**\n- test_result_id\n- student_id, student_name\n- FCM tokens (student/parent/teacher)\n- test_name, score (0-100)",
        "height": 180,
        "width": 260
      },
      "id": "sticky-webhook",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 100]
    },
    {
      "parameters": {
        "content": "## VALIDATION\nChecks required fields & score range.\n\n**On Error:** Routes to error response",
        "height": 120,
        "width": 200
      },
      "id": "sticky-validate",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 140]
    },
    {
      "parameters": {
        "content": "## ERROR RESPONSE\nReturns validation error to caller",
        "height": 80,
        "width": 200
      },
      "id": "sticky-error",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 400]
    },
    {
      "parameters": {
        "content": "## AUDIT LOG\nLogs to automation_logs table.\n\n**Non-blocking:** Continues on error",
        "height": 100,
        "width": 200
      },
      "id": "sticky-log",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [640, 140]
    },
    {
      "parameters": {
        "content": "## PREPARE NOTIFICATIONS\nCreates 3 payloads:\n- Student: Test result\n- Parent: Score + batch avg\n- Teacher: Analytics",
        "height": 120,
        "width": 220
      },
      "id": "sticky-prepare",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, 140]
    },
    {
      "parameters": {
        "content": "## SPLIT\nConverts array to 3 items for parallel processing",
        "height": 80,
        "width": 200
      },
      "id": "sticky-split",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1080, 160]
    },
    {
      "parameters": {
        "content": "## TOKEN CHECK\nTrue: Has FCM token -> Send\nFalse: No token -> Skip",
        "height": 80,
        "width": 200
      },
      "id": "sticky-check",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1300, 160]
    },
    {
      "parameters": {
        "content": "## SEND FCM\nCalls Firebase Cloud Messaging API.\n\n**Retry:** 3 attempts, 2s wait\n**On Error:** Mark as failed",
        "height": 120,
        "width": 200
      },
      "id": "sticky-fcm",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1520, 20]
    },
    {
      "parameters": {
        "content": "## MARK SUCCESS\nRecords sent status + FCM response",
        "height": 70,
        "width": 200
      },
      "id": "sticky-success",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1740, 60]
    },
    {
      "parameters": {
        "content": "## MARK FAILED\nRecords failure after 3 retries",
        "height": 70,
        "width": 200
      },
      "id": "sticky-failed",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1740, 200]
    },
    {
      "parameters": {
        "content": "## MARK SKIPPED\nNo FCM token available",
        "height": 70,
        "width": 200
      },
      "id": "sticky-skipped",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1520, 350]
    },
    {
      "parameters": {
        "content": "## MERGE RESULTS\nCollects all 3 notification results",
        "height": 70,
        "width": 200
      },
      "id": "sticky-merge",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1960, 160]
    },
    {
      "parameters": {
        "content": "## AGGREGATE\nSummarizes: sent/failed/skipped counts",
        "height": 70,
        "width": 200
      },
      "id": "sticky-aggregate",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2180, 160]
    },
    {
      "parameters": {
        "content": "## SAVE LOG\nPersists to notification_logs table",
        "height": 70,
        "width": 200
      },
      "id": "sticky-savelog",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2400, 160]
    },
    {
      "parameters": {
        "content": "## ADMIN DASHBOARD\nAdds entry to admin_notifications",
        "height": 70,
        "width": 200
      },
      "id": "sticky-admin",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2620, 160]
    },
    {
      "parameters": {
        "content": "## FINAL RESPONSE\n**200:** All sent\n**207:** Partial success",
        "height": 80,
        "width": 180
      },
      "id": "sticky-respond",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2840, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-completed",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-trigger",
      "name": "Test Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst required = [\n  'test_result_id',\n  'student_id',\n  'student_name',\n  'student_fcm_token',\n  'parent_fcm_token',\n  'teacher_fcm_token',\n  'test_name',\n  'score'\n];\n\nconst data = $input.first().json;\nconst missing = required.filter(field => !data[field] && data[field] !== 0);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate score is a number between 0-100\nif (typeof data.score !== 'number' || data.score < 0 || data.score > 100) {\n  throw new Error('Score must be a number between 0 and 100');\n}\n\n// Add metadata\nreturn {\n  ...data,\n  processed_at: new Date().toISOString(),\n  notification_id: `notif_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  batch_avg: data.batch_avg || 0\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Validation failed', message: $json.message } }}"
      },
      "id": "respond-validation-error",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "automation_logs",
        "fieldsToSend": "defineBelow",
        "fieldList": {
          "fieldValues": [
            { "fieldName": "workflow_name", "fieldValue": "360 Performance Loop" },
            { "fieldName": "event_type", "fieldValue": "test_completed" },
            { "fieldName": "notification_id", "fieldValue": "={{ $json.notification_id }}" },
            { "fieldName": "student_id", "fieldValue": "={{ $json.student_id }}" },
            { "fieldName": "status", "fieldValue": "processing" },
            { "fieldName": "input_data", "fieldValue": "={{ JSON.stringify($json) }}" },
            { "fieldName": "created_at", "fieldValue": "={{ $json.processed_at }}" }
          ]
        }
      },
      "id": "log-start",
      "name": "Log Processing Start",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare notification payloads for all recipients\nconst data = $input.first().json;\n\nconst notifications = [\n  {\n    recipient_type: 'student',\n    recipient_id: data.student_id,\n    fcm_token: data.student_fcm_token,\n    title: 'Test Result Available',\n    body: `You scored ${data.score}% in ${data.test_name}`,\n    data: {\n      type: 'test_result',\n      test_result_id: data.test_result_id,\n      score: data.score\n    },\n    notification_id: data.notification_id,\n    original_data: data\n  },\n  {\n    recipient_type: 'parent',\n    recipient_id: data.parent_id || 'unknown',\n    fcm_token: data.parent_fcm_token,\n    title: `${data.student_name} - Test Result`,\n    body: `Scored ${data.score}% in ${data.test_name}. Batch avg: ${data.batch_avg}%`,\n    data: {\n      type: 'child_test_result',\n      test_result_id: data.test_result_id,\n      student_id: data.student_id,\n      score: data.score\n    },\n    notification_id: data.notification_id,\n    original_data: data\n  },\n  {\n    recipient_type: 'teacher',\n    recipient_id: data.teacher_id || 'unknown',\n    fcm_token: data.teacher_fcm_token,\n    title: 'Student Test Completed',\n    body: `${data.student_name} scored ${data.score}% in ${data.test_name}`,\n    data: {\n      type: 'student_test_analytics',\n      test_result_id: data.test_result_id,\n      student_id: data.student_id,\n      score: data.score\n    },\n    notification_id: data.notification_id,\n    original_data: data\n  }\n];\n\nreturn notifications;"
      },
      "id": "prepare-notifications",
      "name": "Prepare All Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-notifications",
      "name": "Split Notifications",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-token",
              "leftValue": "={{ $json.fcm_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-token",
      "name": "Has FCM Token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fcm.googleapis.com/v1/projects/YOUR_PROJECT_ID/messages:send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"token\": \"{{ $json.fcm_token }}\",\n    \"notification\": {\n      \"title\": \"{{ $json.title }}\",\n      \"body\": \"{{ $json.body }}\"\n    },\n    \"data\": {{ JSON.stringify($json.data) }},\n    \"android\": {\n      \"priority\": \"high\",\n      \"notification\": {\n        \"channel_id\": \"default\",\n        \"click_action\": \"OPEN_APP\"\n      }\n    },\n    \"apns\": {\n      \"payload\": {\n        \"aps\": {\n          \"alert\": {\n            \"title\": \"{{ $json.title }}\",\n            \"body\": \"{{ $json.body }}\"\n          },\n          \"sound\": \"default\",\n          \"badge\": 1\n        }\n      }\n    }\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-fcm",
      "name": "Send FCM Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 200],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Mark as success\nconst input = $input.first().json;\nreturn {\n  notification_id: input.notification_id,\n  recipient_type: input.recipient_type,\n  recipient_id: input.recipient_id,\n  status: 'sent',\n  sent_at: new Date().toISOString(),\n  fcm_response: $('Send FCM Notification').first().json\n};"
      },
      "id": "mark-success",
      "name": "Mark Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 160]
    },
    {
      "parameters": {
        "jsCode": "// Mark as failed\nconst input = $input.first().json;\nreturn {\n  notification_id: input.notification_id,\n  recipient_type: input.recipient_type,\n  recipient_id: input.recipient_id,\n  status: 'failed',\n  failed_at: new Date().toISOString(),\n  error: 'FCM request failed after retries'\n};"
      },
      "id": "mark-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mark as skipped - no token\nconst input = $input.first().json;\nreturn {\n  notification_id: input.notification_id,\n  recipient_type: input.recipient_type,\n  recipient_id: input.recipient_id,\n  status: 'skipped',\n  reason: 'No FCM token available',\n  skipped_at: new Date().toISOString()\n};"
      },
      "id": "mark-skipped",
      "name": "Mark Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results\nconst results = $input.all().map(item => item.json);\n\nconst summary = {\n  notification_id: results[0]?.notification_id,\n  total: results.length,\n  sent: results.filter(r => r.status === 'sent').length,\n  failed: results.filter(r => r.status === 'failed').length,\n  skipped: results.filter(r => r.status === 'skipped').length,\n  details: results,\n  completed_at: new Date().toISOString()\n};\n\nsummary.all_successful = summary.failed === 0;\n\nreturn summary;"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "notification_logs",
        "fieldsToSend": "defineBelow",
        "fieldList": {
          "fieldValues": [
            { "fieldName": "notification_id", "fieldValue": "={{ $json.notification_id }}" },
            { "fieldName": "workflow_name", "fieldValue": "360 Performance Loop" },
            { "fieldName": "total_recipients", "fieldValue": "={{ $json.total }}" },
            { "fieldName": "sent_count", "fieldValue": "={{ $json.sent }}" },
            { "fieldName": "failed_count", "fieldValue": "={{ $json.failed }}" },
            { "fieldName": "skipped_count", "fieldValue": "={{ $json.skipped }}" },
            { "fieldName": "status", "fieldValue": "={{ $json.all_successful ? 'completed' : 'partial' }}" },
            { "fieldName": "details", "fieldValue": "={{ JSON.stringify($json.details) }}" },
            { "fieldName": "created_at", "fieldValue": "={{ $json.completed_at }}" }
          ]
        }
      },
      "id": "save-notification-log",
      "name": "Save Notification Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "admin_notifications",
        "fieldsToSend": "defineBelow",
        "fieldList": {
          "fieldValues": [
            { "fieldName": "type", "fieldValue": "test_completed" },
            { "fieldName": "title", "fieldValue": "Test Completed - All Roles Notified" },
            { "fieldName": "body", "fieldValue": "={{ 'Student: ' + $json.details[0].original_data.student_name + ' | Score: ' + $json.details[0].original_data.score + '%' }}" },
            { "fieldName": "data", "fieldValue": "={{ JSON.stringify($json) }}" },
            { "fieldName": "read", "fieldValue": false },
            { "fieldName": "created_at", "fieldValue": "={{ $json.completed_at }}" }
          ]
        }
      },
      "id": "notify-admin-dashboard",
      "name": "Update Admin Dashboard",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2660, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"notification_id\": \"{{ $json.notification_id }}\",\n  \"summary\": {\n    \"total\": {{ $json.total }},\n    \"sent\": {{ $json.sent }},\n    \"failed\": {{ $json.failed }},\n    \"skipped\": {{ $json.skipped }}\n  },\n  \"all_successful\": {{ $json.all_successful }},\n  \"completed_at\": \"{{ $json.completed_at }}\"\n}",
        "options": {
          "responseCode": "={{ $json.all_successful ? 200 : 207 }}"
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 300]
    }
  ],
  "connections": {
    "Test Completed Webhook": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Log Processing Start", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Respond Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Log Processing Start": {
      "main": [
        [{ "node": "Prepare All Notifications", "type": "main", "index": 0 }]
      ]
    },
    "Prepare All Notifications": {
      "main": [
        [{ "node": "Split Notifications", "type": "main", "index": 0 }]
      ]
    },
    "Split Notifications": {
      "main": [
        [{ "node": "Has FCM Token?", "type": "main", "index": 0 }]
      ]
    },
    "Has FCM Token?": {
      "main": [
        [{ "node": "Send FCM Notification", "type": "main", "index": 0 }],
        [{ "node": "Mark Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Send FCM Notification": {
      "main": [
        [{ "node": "Mark Success", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Mark Success": {
      "main": [
        [{ "node": "Merge All Results", "type": "main", "index": 0 }]
      ]
    },
    "Mark Failed": {
      "main": [
        [{ "node": "Merge All Results", "type": "main", "index": 0 }]
      ]
    },
    "Mark Skipped": {
      "main": [
        [{ "node": "Merge All Results", "type": "main", "index": 0 }]
      ]
    },
    "Merge All Results": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate Results": {
      "main": [
        [{ "node": "Save Notification Log", "type": "main", "index": 0 }]
      ]
    },
    "Save Notification Log": {
      "main": [
        [{ "node": "Update Admin Dashboard", "type": "main", "index": 0 }]
      ]
    },
    "Update Admin Dashboard": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": ""
  },
  "staticData": null
}
