n8n_workflows/ai_streak_v2_validation.json
{
  "name": "AI Study Streak - v2 Validation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "streak-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PATTERN: Entry Point with Correlation ID\n// ============================================\nconst body = $json.body || $json;\n\nconst correlationId = body.correlation_id || \n  'corr_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nconst trace = {\n  correlation_id: correlationId,\n  workflow_id: $workflow.id,\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  started_at: new Date().toISOString()\n};\n\nreturn {\n  student_id: body.student_id,\n  student_name: body.student_name,\n  current_streak: body.current_streak,\n  preferred_subject: body.preferred_subject,\n  _trace: trace,\n  _raw: body\n};"
      },
      "id": "config",
      "name": "Entry Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PATTERN: Input Validation\n// ============================================\n// Validate and sanitize all input fields\n// Fail fast with clear error messages\n\nconst data = $json;\nconst errors = [];\n\n// Schema definition\nconst schema = {\n  required: ['student_id', 'student_name', 'current_streak'],\n  properties: {\n    student_id: { type: 'string', minLength: 1, maxLength: 50 },\n    student_name: { type: 'string', minLength: 1, maxLength: 100 },\n    current_streak: { type: 'number', minimum: 0, maximum: 9999 },\n    preferred_subject: { type: 'string', maxLength: 50 }\n  }\n};\n\n// Check required fields\nfor (const field of schema.required) {\n  if (data[field] === undefined || data[field] === null || data[field] === '') {\n    errors.push('Missing required field: ' + field);\n  }\n}\n\n// Type validation\nconst props = schema.properties;\n\nif (data.student_id !== undefined) {\n  if (typeof data.student_id !== 'string') {\n    errors.push('student_id must be a string');\n  } else if (data.student_id.length < props.student_id.minLength) {\n    errors.push('student_id cannot be empty');\n  } else if (data.student_id.length > props.student_id.maxLength) {\n    errors.push('student_id exceeds max length of ' + props.student_id.maxLength);\n  }\n}\n\nif (data.student_name !== undefined) {\n  if (typeof data.student_name !== 'string') {\n    errors.push('student_name must be a string');\n  } else if (data.student_name.length < props.student_name.minLength) {\n    errors.push('student_name cannot be empty');\n  } else if (data.student_name.length > props.student_name.maxLength) {\n    errors.push('student_name exceeds max length of ' + props.student_name.maxLength);\n  }\n}\n\nif (data.current_streak !== undefined) {\n  const streak = Number(data.current_streak);\n  if (isNaN(streak)) {\n    errors.push('current_streak must be a number');\n  } else if (streak < props.current_streak.minimum) {\n    errors.push('current_streak must be >= ' + props.current_streak.minimum);\n  } else if (streak > props.current_streak.maximum) {\n    errors.push('current_streak must be <= ' + props.current_streak.maximum);\n  }\n}\n\n// If validation fails, return error response\nif (errors.length > 0) {\n  return {\n    _validation_failed: true,\n    success: false,\n    error: {\n      code: 'VALIDATION_ERROR',\n      message: 'Input validation failed',\n      details: errors\n    },\n    _trace: {\n      ...data._trace,\n      completed_at: new Date().toISOString(),\n      path: 'validation_error'\n    }\n  };\n}\n\n// Sanitize valid data\nconst sanitized = {\n  student_id: String(data.student_id).trim().substring(0, 50),\n  student_name: String(data.student_name).trim().substring(0, 100),\n  current_streak: Math.max(0, Math.min(9999, Number(data.current_streak))),\n  preferred_subject: String(data.preferred_subject || 'studies').trim().substring(0, 50),\n  _trace: data._trace,\n  _validation_passed: true\n};\n\nreturn sanitized;"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json._validation_passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"Generate a SHORT motivational push notification (max 2 sentences, under 150 chars) for student {{ $json.student_name }} with {{ $json.current_streak }} day streak. Subject: {{ $json.preferred_subject }}. Be friendly and encouraging.\"}]}],\n  \"generationConfig\": {\"temperature\": 0.8, \"maxOutputTokens\": 500}\n}",
        "options": {"timeout": 15000}
      },
      "id": "gemini",
      "name": "Call Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PATTERN: Success Handler with Trace\n// ============================================\nconst config = $('Validate Input').first().json;\nconst response = $json;\n\nlet message = '';\ntry {\n  message = response.candidates[0].content.parts[0].text || '';\n  message = message.trim().substring(0, 200);\n} catch(e) {\n  message = 'Hey ' + config.student_name + '! Keep your ' + config.current_streak + '-day streak alive!';\n}\n\nconst trace = {\n  ...config._trace,\n  completed_at: new Date().toISOString(),\n  path: 'success',\n  ai_model: 'gemini-2.5-flash'\n};\n\nreturn {\n  success: true,\n  notification: {\n    title: 'Streak Alert',\n    body: message\n  },\n  student: {\n    id: config.student_id,\n    name: config.student_name,\n    streak: config.current_streak\n  },\n  ai_used: true,\n  _trace: trace\n};"
      },
      "id": "parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PATTERN: AI Fallback Handler\n// ============================================\nconst config = $('Validate Input').first().json;\nconst errorInfo = $json.error || {};\nconst fallback = 'Hey ' + config.student_name + '! Your ' + config.current_streak + '-day streak is amazing. Keep it going!';\n\nconst trace = {\n  ...config._trace,\n  completed_at: new Date().toISOString(),\n  path: 'ai_fallback',\n  error_reason: errorInfo.message || 'ai_call_failed'\n};\n\nreturn {\n  success: true,\n  notification: {\n    title: 'Streak Alert',\n    body: fallback\n  },\n  student: {\n    id: config.student_id,\n    name: config.student_name,\n    streak: config.current_streak\n  },\n  ai_used: false,\n  _trace: trace\n};"
      },
      "id": "fallback",
      "name": "AI Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-fallback",
      "name": "Respond Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Entry Config", "type": "main", "index": 0}]]
    },
    "Entry Config": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[{"node": "Is Valid?", "type": "main", "index": 0}]]
    },
    "Is Valid?": {
      "main": [
        [{"node": "Call Gemini", "type": "main", "index": 0}],
        [{"node": "Respond Validation Error", "type": "main", "index": 0}]
      ]
    },
    "Call Gemini": {
      "main": [[{"node": "Parse Response", "type": "main", "index": 0}]],
      "error": [[{"node": "AI Fallback", "type": "main", "index": 0}]]
    },
    "Parse Response": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    },
    "AI Fallback": {
      "main": [[{"node": "Respond Fallback", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null
}
