n8n_workflows/attendance_alert.json
{
  "name": "Instant Attendance Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance-marked",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-attendance",
      "name": "Attendance Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-absent",
              "leftValue": "={{ $json.status }}",
              "rightValue": "absent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-absent",
      "name": "Is Absent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fcm.googleapis.com/v1/projects/YOUR_PROJECT/messages:send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: { token: $json.parent_fcm_token, notification: { title: 'Attendance Alert', body: $json.student_name + ' was marked absent in ' + $json.class_name }, data: { type: 'attendance', student_id: $json.student_id } } } }}"
      },
      "id": "notify-parent-absent",
      "name": "Notify Parent (Push)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "notifications",
        "fieldsToSend": "defineBelow",
        "fieldList": {
          "fieldValues": [
            { "fieldName": "user_id", "fieldValue": "={{ $json.parent_id }}" },
            { "fieldName": "title", "fieldValue": "Attendance Alert" },
            { "fieldName": "body", "fieldValue": "={{ $json.student_name + ' was marked absent' }}" },
            { "fieldName": "notification_type", "fieldValue": "attendance" }
          ]
        }
      },
      "id": "save-notification",
      "name": "Save to Notifications",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Parent notified of absence' } }}"
      },
      "id": "respond-absent",
      "name": "Respond Absent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Student present - no action needed' } }}"
      },
      "id": "respond-present",
      "name": "Respond Present",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Attendance Webhook": {
      "main": [[{ "node": "Is Absent?", "type": "main", "index": 0 }]]
    },
    "Is Absent?": {
      "main": [
        [{ "node": "Notify Parent (Push)", "type": "main", "index": 0 }],
        [{ "node": "Respond Present", "type": "main", "index": 0 }]
      ]
    },
    "Notify Parent (Push)": {
      "main": [[{ "node": "Save to Notifications", "type": "main", "index": 0 }]]
    },
    "Save to Notifications": {
      "main": [[{ "node": "Respond Absent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
